<!DOCTYPE html>
<html>
  <head>
    <title>Robinherd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.finnhubAPIKey = "<%= Rails.application.credentials.finnhub[:api_key] %>";
      window.marketOpen = "<%= market_hours_range[0] %>";
      window.marketClose = "<%= market_hours_range[1] %>";
    </script>
  </head>

  <body style="margin: 0px;">
    <%= yield %>
  </body>
</html>
